<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Myggnätt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="background-img">
      <header>
          <div class="menu">
              <h2>Myggnätt</h2>
              <ul>
                  <li>Vår service</li>
                  <li>Om oss</li>
                  <li>Kontakta oss</li>
                  <img src="../images/bag.svg" width="20" height="20">
              </ul>

          </div>
          <hr>
      </header>
      <main>
          <h1>Beställ den bästa myggnätt som finns i Karlstad</h1>
          <p>Den bästa lösning mot myggor</p>
          <button><a href="#">Beställ nu</a></button>
      </main>
    </section>
    <script src="index.js"></script>
    <section class="display">
      <p>Vår bästa arbete</p>
      <ul>
        <li><img src="../images/window_img2.jpg"></li>
        <li><img src="../images/window_img3.jpg"></li>
        <li><img src="../images/window_img4.jpg"></li>
      </ul>
    </section>

    <hr id="displayline">

    <section class="footerPhoto"></section>

    <footer>
      <section class="socials">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </section>

      <ul class="linkar">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">Services</a>
        </li>

        <li>
          <a href="#">Om oss</a>
        </li>

      </ul>

      <section class="contacts">
        <p>Fonsterfixkarlstad@gmail.com</p>
        <p>070-010 83 34</p>
      </section>

      <p class="copyright">
        Laith @ 2026
      </p>
    </footer>
  </body>
</html>